#navbar {
    /* width: 60%; */
    /* right: 0; */
    /* background-color: var(--background); */
}

/* Placerar heron till vänster */
#hero {
    background-image: url("../img/booking/hero.webp");
    float: left;
    width: 30%;
}

    /* Placerar hero texten på rätt plats */
    .hero-content {
        text-align: center;
        width: 100%;
        left: 0;
    }


input[type="time"] {
    background-color: var(--background);
    border: none;
    font-size: 2rem;
}
input:disabled + label {
    cursor: url(../img/cursor/default.png) 1 8, default;
}
input + label {
    user-select: none;
}

/* Till detalj text på amount delen om att ringa om de vill boka fler stubbar */
.comment {
    color: var(--gray-descriptive);
    font-size: 1rem;
    text-align: center;
    position: relative;
    top: 13vh;
}

/*  */
.flex-center-up {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

    /* samtliga divs och p taggar i denna klass får samma höjd som förälder elementet */
    .flex-center-up > div, .flex-center-up > p {
        height: 100%;
    }

/* samma som flex-center-up men horizontell ordning på elementen */
.flex-horizontal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    .flex-horizontal > p {
        width: 100%;
        text-align: center;
    }


/* Tar bort samtliga radios, de är bara i vägen*/
input[type="radio"] {
    display: none;
}

/* Delen som bookingen sker i (allt utom Hero) */
#form-container {
    float: right;
    width: 70%;
    height: 100vh;
}

#booking-state {
    height: 500px;
}

    /* design för elementen som visar var vi är i boknings processen */
    #booking-state label {
        padding: 1em;
        border-radius: 0.6em;
        background-color: var(--light-background);
        box-shadow: 0.1em 0.2em 0.5em var(--shadow);
    }
    
    /*  Visar inte de olika div:arna som innehåller frågorna som användaren ska svara på
        för att boka stubbar. (default läget) */
    .booking-part {
        display: none;
    }

        .question {
            font-size: 2rem;
        }

        /* AMOUNT */
        /* Om radios inte är markerad style:ar vi dess label  */
        #amount:not(:checked) ~ div label[for="amount"] {
            color: var(--gray-text);
            background-color: var(--gray-background);
            box-shadow: inset 0.1em 0.2em 0.2em var(--shadow);
        }

        /* Om radios är checked visar vi diven med dess fråga */
        #amount:checked ~ div #amount-div {
            display: flex;
        }
        
        
        /* DATE */
        /* Om radios inte är markerad style:ar vi dess label  */
        #date:not(:checked) ~ div label[for="date"] {
            color: var(--gray-text);
            background-color: var(--gray-background);
            box-shadow: inset 0.1em 0.2em 0.2em var(--shadow);
        }

        /*  Om radios är disabled ändrar vi style på dess lable och musens ikon på hover,
            så man ser att den inte går att klicka på */
        #date:disabled ~ div label[for="date"] {
            background-color: var(--dark-background);
            cursor: url(../img/cursor/default.png) 1 8, default;
        }

        /* Om radios är checked visar vi diven med dess fråga */
        #date:checked ~ div #date-div {
            display: flex;
        }
            

        /* TIME */
        /* Om radios inte är markerad style:ar vi dess label  */
        #time:not(:checked) ~ div label[for="time"] {
            color: var(--gray-text);
            background-color: var(--gray-background);
            box-shadow: inset 0.1em 0.2em 0.2em var(--shadow);
        }

        /*  Om radios är disabled ändrar vi style på dess lable och musens ikon på hover,
            så man ser att den inte går att klicka på */
        #time:disabled ~ div label[for="time"] {
            background-color: var(--dark-background);
            cursor: url(../img/cursor/default.png) 1 8, default;
        }

        /* Om radios är checked visar vi diven med dess fråga */
        #time:checked ~ div #time-div {
            display: flex;
        }

          

    /* AMOUNT *****************/

    /* style:ar lables i amount-div */
    #amount-div label {
        height: 3em;
        width: 3em;
        line-height: 3em;
        background-color: var(--brown);
        border-radius: 1.5em;
        text-align: center;
        box-shadow: 0.1em 0.2em 0.4em var(--shadow);

    }
    #amount-div label:hover {
        background-color: #683404c9;
    }

    /*  Vi stylar om lablen till en checked radio,
        fungerar eftersom alla lables ligger direkt efter
        sin input */
    #amount-div input[type="radio"]:checked + label {
        background-color: #ffffff0d;
        box-shadow: inset 0.1em 0.2em 0.4em var(--shadow);
    }



    /* DATE *******************/

    /* Ändrar flex-horizontal i alla booking part */
    #calendar-div > .flex-horizontal {
        /* justify-content: space-between; */
    }

    /* diven för att visa vilken månad vi är i */
    #calendar-month p {
        width: fit-content;
    }

    #day-names {
        justify-content: center;
        gap: .2em;
        min-height: 2.5em;
        max-height: 2.5em;
        align-items: center;
    }
        #day-names * {
            width: 2.5em;
            text-align: center;
            /* height: 2.5em; */

        }

    #calendar-div {
        justify-content: center;
        /* height: 50vh; */
        gap: .2em;

    }
    .calendar-week {
        gap: .2em;
        justify-content: center;
        align-items: center;
    }



    #date-div .calendar-week label {
        height: 2.5em;
        width: 2.5em;
        line-height: 2.5em;
        /* background-color: var(--brown); */
        border-radius: 1.5em;
        text-align: center;
        /* margin: 3px; */
        transition: background-color 0.15s ease;
    }
    #date-div .calendar-week label:not(.unavailable, .unavailable-out):hover {
        /* border: 2px solid var(--brown); */
        /* scale: 1.1; */
        /* box-shadow: inset 0 0 0 5px rgb(73, 56, 0); */
        color: white;
        background-color: #35b90c;
    }

    /* Style för de dagar som är i framtiden */
    #date-div .calendar-week label.available {
        background-color: var(--calendar-available);
    }
    #date-div .calendar-week label.available-out {
        color: var(--gray-descriptive);
        background-color: var(--calendar-available-out);
        box-shadow: inset 0.1em 0.2em 0.4em var(--shadow);
    }
    
    /* Style för dagen som är idag */
    #date-div .calendar-week label.today {
        background-color: var(--calendar-today);
    }
    #date-div .calendar-week label.today-out {
        background-color: var(--calendar-today);
        box-shadow: inset 0.1em 0.2em 0.4em var(--shadow);
    }

    /* Style för dagarna som redan varit */
    #date-div .calendar-week label.unavailable {
        color: var(--gray-inactive);
        background-color: var(--brown);
        box-shadow: inset 0.1em 0.2em 0.4em var(--shadow);
    }
    #date-div .calendar-week label.unavailable-out {
        color: var(--gray-inactive);
        background-color: var(--calendar-unavailable-out);
        box-shadow: inset 0.1em 0.2em 0.4em var(--shadow);
    }

    /*Style för den valda dagen*/
    #date-div input[type="radio"]:checked + label {
        display: block;
        background-color: rgb(38, 161, 1);
        color: white;
    }