/* Variabler för färger, som vi sedan kan använda */
:root {
    font-size: 20px;
    --background: #071A04;
    --text: #FFFFFF;
    --gray-text: #727272;
    --gray-inactive: #727272;
    --gray-descriptive: #C6C6C6;
    --light-background: #ffffff26;
    --gray-background: #ffffff0d;
    --dark-background: #0000001a;
    --shadow: #00000040;
    --brown: #2C2418;
    --dark-brown: #262017;

    /* --nav-selected: rgb(63, 110, 56); */
    --nav-selected: white;
    /* --nav-default: rgb(119, 153, 113); */
    --nav-default: var(--background);
    --nav-main: rgba(255, 255, 255, 1);
    /* --nav-color-default: black; */
    --nav-color-default: white;
    /* --nav-color-selected: white; */
    --nav-color-selected: black;

    --calendar-unavailable-out: rgba(181, 78, 0, 0.15);
    --calendar-today: rgba(111, 221, 42, 0.5);
    --calendar-available: rgba(144, 214, 100, 0.2);
    --calendar-available-out: rgba(60, 92, 41, 0.2);
}

/* Skapar font som vi kan använda */
@font-face {
    font-family: tingeling;
    src: url(../fonts/Tinker_Bell.ttf);
}

/* Basic Style */
* {
    color: var(--text);
    font-family: tingeling;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    cursor: url(../img/cursor/default.png) 1 8, default;
}

*:disabled {
    cursor: url(../img/cursor/default.png) 1 8, default;
}

a, label, .clickable {
    cursor: url(../img/cursor/click.png) 0 34, pointer;
    text-decoration: none;
}


/* Keyframes */
@keyframes content-in {
    from {
        opacity: 0;
        transform: translateY(75px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes breath {
    /* 0% {
        transform: translateY(0px);
    } */
    from {
        transform: translateY(0.5em);
    }
    to {
        transform: translateY(-0.5em);
    }
    /* 100% {
        transform: translateY(0em);
    } */

}

/* ************** */


/* GENERAL ELEMENTS */
.button {
    display: block;
    width: fit-content;
    font-size: 1.8rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s;
}

.button:hover,
.button:active,
.button:focus {
    scale: 1.05;
    color: var(--background);
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);
}

    /* Link fokus, animates underline */
.link, .nav-active {
    background-image: linear-gradient(var(--text), var(--text));
    
    background-size: 0% 0.1em;
    background-position-x: 0%;
    background-position-y: 100%;

    padding-bottom: 5px;
    background-repeat: no-repeat;
    
    transition: background-size 0.5s ease-in-out;
}

.link:hover:not(.nav-active), 
.link:focus:not(.nav-active), 
.link:active:not(.nav-active) {
    background-size: 100% 0.1em;
}
    /************/

/* General image styling */
.block {
    min-height: 150vh;
}

.hero {
    min-height: 100vh;
}

.parallax {
    background-attachment: fixed;
    min-height: 150vh;
}

.hero, .parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ************** */

/* Fade in on scroll animation */
.reveal-on-scroll:not(.fade-right,.fade-left) {
    transform: translateY(10vw);
    opacity: 0;
    transition: 1s transform ease, 1s opacity ease;
}

.reveal-on-scroll.fade-right {
    transform: translateX(10vw);
    opacity: 0;
    transition: 1s transform ease, 1s opacity ease;
}

.reveal-on-scroll.fade-left {
    transform: translateX(-10vw);
    opacity: 0;
    transition: 1s transform ease, 1s opacity ease;
}

.reveal-on-scroll.scroll-active {
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
}
/*************/


/* Navbar */
#navbar {
    display: flex;
    justify-content: center;
    z-index: 11;
    user-select: none;
}

    #navbar p {
        display: none;
    }

    #nav-content {
        position: fixed;
        width: 100%;
        height: 2.5em;
        font-size: 1.2rem;

        display: flex;
        justify-content: flex-end;
        align-items: center;


        transition: background-color, 0.5s;
    }

        /* alla navbar länkar */
        #nav-content a{
            margin-right: 40px;
            padding-right: 0.1em;
        }

            /* För att navbarens första item ska lägga sig längst till vänster */
            #nav-content a:first-child{
                margin-right: auto;
                margin-left: 40px; 
            }
            
            /* Länken till den sida vi är på just nu */
            .nav-active {
                background-size: 100% 0.1em;
            }

/* Navbar för telefoner och enheter smalare än 750px */
@media (max-width: 750px) {
    /* diven som håller navbaren */
    #navbar {
        position:fixed;
        flex-direction: column-reverse;
        align-items: center;
        bottom: 5vh;
        width: 100vw;
    } 

    /* Vi ändrar nu allt i diven till static, för det är default */
    #navbar * {
        position: static;
    }

        /* Själva länkarna och sånt i navbaren */
        #navbar #nav-content {
            display: none;
            width: 80%;
            max-width: 300px;
            border-radius: 1.2em;
            height: fit-content;
            flex-direction: column;
            background-color: var(--nav-default);
            box-shadow: inset 0px 0px 0px 0.3px var(--nav-main);
        }

            /* varje specifik item i navbaren */
            #nav-content a {
                margin: 0;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                width: 100%;
                text-align: center;
                border-radius: 1.5em;
            }

            /* Alla items utom den som reperesenterar sidan vi är på just nu */
            #nav-content a:not(.nav-active) {
                color: var(--nav-color-default);
                /* för att tabort animerade hover effekten */
                background-image: none;
            }

            /* Den item som visar vilken sida vi är på just nu */
            .nav-active {
                /* för att tabort animerade hover effekten */
                background-image: none;
                background-color: var(--nav-selected);
                color: var(--nav-color-selected);
            }

            /* När man hovrar över en av de items som finns i navbaren */
            #nav-content a:hover {
                background-color: var(--nav-selected);
                color: var(--nav-color-selected);
            }
            
            /* flyttar tar bort all margin från första itemen */
            #nav-content a:first-child {
                margin: 0;
            }

        /* Det som visas när navbaren inte är utvecklad */
        #navbar p{
            display: block;
            width: 80%;
            max-width: 300px;
            text-align: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: var(--nav-main);
            color: var(--nav-color-selected);
            border-radius: 10em;
            font-size: 1.2rem;
            transition: all 0.2s;
        }

        /* tog bort hover för att det inte ska bli konstigt på telefonen */
        /* #navbar p:hover {
            background-color: transparent;
            color: var(--nav-main);
            border: 0px;
            box-shadow: inset 0px 0px 0px 2px var(--nav-main);

        } */

        

}



/* Hero content style */
.hero-content{
    position: relative;
    top: 15vh;
    left: 12vw;
    width: fit-content;
}

    .hero-header{
        font-size: 4.5rem;
        animation: content-in 1s;

        /* font-weight: ; */
        /* text-decoration: none; */
        /* color: transparent; */
        /* text-shadow: 0px 2px 3spx rgba(255, 255, 255, 0.8); */
    }

    .hero-second{
        margin-left: 2rem;
        font-size: 1.8rem;
        margin-top: 1.8rem;
        margin-bottom: 25vh;

        animation: content-in 1.5s;
    }

    .hero-action {
        margin-left: 2rem;
        animation: content-in 2s; 
    }

@media (max-width: 700px) {
    .hero-header {
        text-align: center;
        font-size: 15vw;
    }

    .hero-second {
        font-size: 5vw;
    }

}


@media (max-width: 500px) {
    .hero-content {
        display: flex;
        position: static;
        align-items: center;
        flex-direction: column;
        padding-top: 20vh;
        width: 100%;
    }

        .hero-second {
            margin-left: 0;
            margin-bottom: 15vh;
        }        

        .hero-action {
            margin-left: 0;
        }

}

@media (max-width: 400px) {
    .hero-action {
        font-size: 7vw;
    }
}


/* Footer */
#footer{
    height: 150vh;
    display: flex;
    align-items: flex-end;
}

    #footer #footer-content{
        height: 60vh;
        width: 100%;

        display: flex;
        justify-content: space-evenly;
    }

        #footer-content > div{
            margin-bottom: 10%;
            width: 30%;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

            #footer-content div h1{
                font-size: 50px;
                margin-bottom: 20px;
            }

            #footer-content > div > *:not(h1):not(div){
                font-size: 25px;
                margin-bottom: 20px;
            }


@media (max-width:700px) {
    #footer-content {
        /* flex-wrap: wrap; */
        /* justify-content: flex-start; */
        align-items: center;
        flex-direction: column;
    }

    #footer-content > div {
        width: fit-content;
        max-width: 80%;
    }

    #footer-content > div:last-child {
        margin-bottom: 50vh;
    }
}





/***********************/
/* Easter Eggs*/

@keyframes joel {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100%{
        transform: translateY(0px);
    }
}
#footer-content div #joel-j:hover{
    scale: 1.1;
    animation: joel 6s infinite;
    transition: all 2s;
}


#philip {
    transition: transform 1000000000000000000000000000000s;
}
#activate-control {
    display: none;
}
#activate-control:checked ~ div {
    transition: height 1s;
    height: 50px;
    width: 50px;
}
#activate-control:checked ~ #reset {
    transition: height 1s;
    height: 30px;
    width: 30px;
}
#reset {
    position: fixed;
    z-index: 2;
    bottom: 103px;
    right: 85px;
    height: 0px;
    width: 0px;
    border-radius: 2px;
    background-color: #800000;
}
#up {
    position: fixed;
    bottom: 160px;
    right: 75px;
    height: 0px;
    width: 0px;
    background-color: green;
    transform: rotate(45deg);
}

#down {
    position: fixed;
    bottom: 66px;
    right: 75px;
    height: 0px;
    width: 0px;
    background-color: green;
    transform: rotate(45deg);
}

#left {
    position: fixed;
    bottom: 113px;
    right: 122px;
    height: 0px;
    width: 0px;
    background-color: darkgreen;
    transform: rotate(45deg);
}

#right {
    position:fixed;
    bottom: 113px;
    right: 28px;
    height: 0px;
    width: 0px;
    background-color: darkgreen;
    transform: rotate(45deg);
}

/* reset fungerar bara halft */
#reset:hover ~ #philip {
    transition: transform 1s linear;
}
#up:hover ~ #philip {
    transition: transform 8s linear;
    transform: translateY(-640vh);
}
#down:hover ~ #philip {
    transition: transform 8s linear;
    transform: translateY(35vh);
}
#right:hover ~ #philip {
    transition: transform 6s linear;
    transform: translateX(26vw);
}
#left:hover ~ #philip {
    transition: transform 6s linear;
    transform: translateX(-64vw);
}


/* Jump scare */
@keyframes jump-scare {
    from {
        display: fixed;
        height: 100vh;
    }
    to {
        height: 0;
    }
}

#jump-scare {
    animation: scare 5s;
}