/* Images for some divs */
#hero {
    background-image: url(../img/index/hero.webp);
}

#find-us-img {
    background-image: url(../img/index/find_us.webp);
}

#footer {
    background-image: url(../img/index/footer.webp);
}

/* Small About  */
#short-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .about-text {
        margin-left: 12vw;
        width: 40%;

    }

        .about-header {
            font-size: 3.5rem;
            margin-bottom: 0.8em;
        }

        .about-p {
            font-size: 1.2em;
            margin-bottom: 1.2em;
        }

        #about-action{
            margin-top: 100px;
        }

    #short-about #img-placement {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

        #short-about img {
            width: 30vw;
            border-radius: 10px;
        }


#find-us-img-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}



#map-canvas {
    width: 600px;
    height: 400px;
}