#hero {
    background-image: url(../../img/menu/oil_top.webp);
}


#menu {
    background-image: url(../../img/menu/oil_mid.png);
    /* background-position: center; */
    background-position-x: center;
    scale: 1;
    /* height: 200vh; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}


#footer {
    background-image: url(../../img/menu/oil_down.webp);
}