#hero {
    background-image: url(../img/menu/oil_top.webp);
}




/*  Detta är oljan i bakgrunden
    Den läggs till som första elementet i #menu med hjälp av ::before */
#menu::before {
    position: absolute;
    background-position-x: center;
    height: 700%;
    width: 100%;
    background-image: url(../img/menu/oil_mid.png);
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    top: -30vh;
    opacity: 0.1;
    z-index: -10;
    content: "";
}

/* Hela menyn med alla rätter och bilder */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    /* background-color: black; */
    /* padding-top: 5em; */
}

    /* För en kategori och rätter */
    .food-type-card{
        /* display: flex; */
        /* background-color: aqua; */
        width: 90vw;
        border-radius: 20px;
        padding: 2em;
        margin-bottom: 10em;
    }
        
        /* För informationen som finns för varje kategori i text */
        .food-information-content{
            display: flex;
            justify-content: space-around;
        }

        /* För de som har texten till höger */
        .food-information-content.right{
            flex-direction: row-reverse;
        }

            
            .food-information-text{
                display: flex;
                flex-direction: column;
                /* flex: 2; */
                max-width: 30%;
            }

                .food-type-header{
                    color: var(--text);
                    font-size: 2.5rem;
                    background-color: var(--themeColor);
                    width: fit-content;
                    /* margin-left: 5em; */
                    margin-bottom: 1em;
                    padding: 5px 10px 5px 10px;
                    text-align: center;
                    align-self: center;
                }



                .dishes{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                    .dish{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        /* gap: 3em; */
                        
                        width: 100%;
                        margin-bottom: 1em;
                    }

                            .dish-info .dish-name{
                                color: var(--text);
                                font-size: 1.5rem;
                            }

                            .dish-info .dish-description{
                                color: var(--gray-descriptive);
                                font-size: 1rem;
                                margin-left: 20px;
                                margin-top: 5px;
                                max-width: 80%;
                            }

                        .dish .prize {
                            min-width: fit-content;
                        }
    
                            
            .food-information-content img{
                max-width: 40vw;
                /* flex: 3; */
                height: fit-content;
                margin-top: 80px;
                align-self: center;
                border-radius: 10px;
                transition: scale 1s;
            }
            .food-information-content img:hover{
                box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.492);
                scale: 1.02;
            }



#footer {
    background-image: url(../img/menu/oil_down.webp);
}