/* Variabler för färger, som vi sedan kan använda */
:root {
    font-size: 20px;
    --background: #071A04;
    --text: #FFFFFF;
}

/* Skapar font som vi kan använda */
@font-face {
    font-family: tingeling;
    src: url(../fonts/Tinker_Bell.ttf);
}

/* Basic Style */
* {
    color: var(--text);
    font-family: tingeling;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    cursor: url(../../img/cursor/default.png) 1 8, default;
}

a, label {
    cursor: url(../../img/cursor/click.png) 0 34, pointer;
    text-decoration: none;
}


/* Keyframes */
@keyframes hero-content-in {
    from {
        opacity: 0;
        transform: translateY(75px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* ************** */


/* GENERAL ELEMENTS */
.button {
    font-size: 1.8rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
}

/* General image styling */
.block {
    min-height: 150vh;
}

.hero {
    min-height: 100vh;
}

.parallax {
    background-attachment: fixed;
    min-height: 150vh;
}

.hero, .parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ************** */


/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    height: 2.5em;
    font-size: 1.2rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    z-index: 999;

    transition: background-color, 0.5s;
}

    #navbar a{
        margin-right: 40px;
    }

        #navbar a#home{
            margin-right: auto;
            margin-left: 40px; 
        }


/* Hero content style */
.hero-content{
    position: relative;
    top: 15vh;
    left: 12vw;
    width: fit-content;
}

    .hero-header{
        font-size: 4.5rem;
        animation: hero-content-in 1s;

        /* font-weight: ; */
        /* text-decoration: none; */
        /* color: transparent; */
        /* text-shadow: 0px 2px 3spx rgba(255, 255, 255, 0.8); */
    }

    .hero-second{
        margin-left: 2rem;
        font-size: 1.2rem;
        margin-top: 1.8rem;
        margin-bottom: 25vh;

        animation: hero-content-in 1.5s;
    }

    .hero-action {
        margin-left: 2rem;
        animation: hero-content-in 3s; 
    }


/* Footer */
#footer{
    height: 150vh;
    display: flex;
    align-items: flex-end;
}

    #footer #footer-content{
        height: 60vh;
        width: 100%;

        display: flex;
        justify-content: space-evenly;
    }

        #footer-content div{
            margin-bottom: 10%;

            display: flex;
            flex-direction: column;
        }

            #footer-content div h1{
                font-size: 50px;
                margin-bottom: 20px;
            }

            #footer-content div *:not(h1){
                font-size: 25px;
                margin-bottom: 20px;
            }



/***********************/
/* Easter Eggs*/

@keyframes joel {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100%{
        transform: translateY(0px);
    }
}
#footer-content div #joel-j:hover{
    scale: 1.1;
    animation: joel 6s infinite;
    transition: all 2s;
}


/* Jump scare */
@keyframes jump-scare {
    from {
        display: fixed;
        height: 100vh;
    }
    to {
        height: 0;
    }
}

#jump-scare {
    animation: scare 5s;
}