/* Images for some divs */
#hero {
    background-image: url(../../img/index/hero.webp);
}

#find-us-img {
    background-image: url(../../img/index/find_us.webp);
}

#footer {
    background-image: url(../../img/index/footer.webp);
}

/* Small About  */
#short-about {
    display: flex;
}

.about-content {
    position: relative;
    top: 15vh;
    left: 12vw;
    width: fit-content;
}

    .about-header {
        font-size: 3.5rem;
    }

    .about-p {
        font-size: 1.2em;
    }


#map-canvas {
    width: 600px;
    height: 400px;
}